@font-face {
  font-family: 'EliceDigitalBaeum-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}



header {
  width : 100%;
  height: 10vh;
  background-color: #21005D;
  color : #EADDFF;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  font-family: 'EliceDigitalBaeum-Bd';
}


main {
  width : 100%;
  height: 90vh;
  background-color: #E7E0EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* #msg {
  display: none;
} */

main > section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vh;
  font-family: 'EliceDigitalBaeum-Bd';
}

button {
  background-color: #E8DEF8;
  color : #6750A4;
  border-radius: 8px;
  border-color: #625B71;
  display: inline-block;
  width: 100%;
  width: 50vw;
  max-width: 200px;
  height: 20vw;
  max-height: 50px;
  margin: 1vh;
  cursor: pointer;
}

label:hover, label:active {
  background-color: #6750A4;
  color: #E8DEF8;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

legend {
  color :#21005D;
}

#dice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  color :#21005D;
  text-align: center;
  cursor: pointer;
}

fieldset {
  width: 60vw;
  height: 12vw;
  padding: 5vw 2vw;
  font-size: 4vw;
  border: 1px solid #dfdfdf;
}
